
  <h1 class="text-3xl font-bold mb-3 text-blue-900">Attendance :</h1>
  <hr class="mb-5 mr-[80px] text-zinc-300">
  
  <div class="mb-10">
    <h2 class="text-2xl font-semibold text-slate-700">Overview </h2>
    <app-small-card-dashboard [percentage]="attendancePercentage" [smallCard]="smallCard"></app-small-card-dashboard>
  </div>


  <div>
    <h2 class="text-2xl font-semibold mb-4 ">Subject-wise Attendance</h2>
    <div class="overflow-x-auto rounded-lg shadow-sm mr-[100px]">
      <table class="min-w-full bg-white border border-gray-200">
        <thead class="bg-blue-100">
          <tr>
            <th class="py-3 px-6 text-left font-medium text-gray-700">Subject</th>
            <th class="py-3 px-6 text-left font-medium text-gray-700">Attended</th>
            <th class="py-3 px-6 text-left font-medium text-gray-700">Total</th>
            <th class="py-3 px-6 text-left font-medium text-gray-700">%</th>
            <th class="py-3 px-6 text-left font-medium text-gray-700">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attendance of attendance | async" class="border-t hover:bg-gray-50">
            <td class="py-3 px-6">{{attendance.courseName}}</td>
            <td class="py-3 px-6">{{attendance.attended}}</td>
            <td class="py-3 px-6">{{attendance.total}}</td>
            <td class="py-3 px-6">{{((attendance.attended / attendance.total)*100).toFixed(2)}}%</td>
            <td *ngIf="(attendance.attended / attendance.total) * 100 >= 75" [class.text-green-600]="(attendance.attended / attendance.total) * 100 >= 75" class="py-3 px-6 text-green-600 font-semibold">✅ Good</td>
            <td *ngIf="(attendance.attended / attendance.total) * 100 < 75"  [class.text-yellow-600]="(attendance.attended / attendance.total) * 100 < 75" class="py-3 px-6 text-green-600 font-semibold">⚠️ Low</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>