<app-greeting-heading></app-greeting-heading>

<div class="small-card">
  <app-small-card-dashboard 
    *ngFor="let smallCard of smallCards"
    [smallCard]="smallCard"
    [gpa]="smallCard.title === 'Current GPA' ? gpa : undefined"
    [percentage]="smallCard.title === 'Current Attendance' ? percentage : undefined"
    [pendingCount]="smallCard.title === 'Pending Assignments' ? pendingCount : undefined"
    [allAssignment]="smallCard.title === 'Pending Assignments' ? allAssignment : undefined"
    [latestAnnouncement]="smallCard.title === 'Latest Announcement' ? latestAnnouncement : undefined"
    >
  </app-small-card-dashboard>
</div>

<div class="large-div">
  <app-large-card-dashboard [assignments]="assignments" [grades]="grades"
    *ngFor="let largeCard of largeCards" 
    [largeCard]="largeCard">
  </app-large-card-dashboard> 
</div>

