<div class="h-[470px] w-[580px] border border-zinc-300 rounded-2xl  px-9 mt-6  shadow-lg hover:shadow-xl">
    <div class="flex justify-between mb-7">
        <h1 class="mt-6 text-xl">{{largeCard.title}}</h1>
         <a routerLink="/dashboard/assignments" *ngIf="largeCard.title=='Upcoming Assignments'"  class="mt-7 text-blue-700 cursor-pointer hover:underline">View All →</a>
         <a routerLink="/dashboard/grades" *ngIf="largeCard.title=='Recent Grades'" class="mt-7 text-blue-700 cursor-pointer hover:underline">View All →</a>
    </div>
   
<ng-container *ngIf="largeCard.title === 'Upcoming Assignments'">
  <div *ngFor="let assignment of assignments | async" class="Assignments-div">
    <app-assignment-bar-dashboard [assignment]="assignment"></app-assignment-bar-dashboard>
  </div>
</ng-container>

<ng-container *ngIf="largeCard.title === 'Recent Grades'">
  <div *ngFor="let grade of grades | async" class="Assignments-div">
    <app-grade-bar-dashboard [grade]="grade"></app-grade-bar-dashboard>
  </div>
</ng-container>
  
</div>