<div class="h-[470px] w-[580px] border border-zinc-300 rounded-2xl  px-9 mt-6  shadow-lg hover:shadow-xl">
    <div class="flex justify-between mb-7">
        <h1 class="mt-6 text-xl">Upcoming Assignments</h1>
         <h1 class="mt-7 text-blue-700 cursor-pointer hover:underline">View All →</h1>
    </div>
   
    <!-- <app-9assignment-bar-dashboard></app-9assignment-bar-dashboard> -->
    <app-grade-bar-dashboard></app-grade-bar-dashboard>
    <app-grade-bar-dashboard></app-grade-bar-dashboard>
    <app-grade-bar-dashboard></app-grade-bar-dashboard>
    <app-grade-bar-dashboard></app-grade-bar-dashboard>
  
</div>