<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
   <button class="cursor-pointer" (click)="isSidenav()"><mat-icon>menu</mat-icon></button> 
  </button>
   <app-searchbar></app-searchbar>
  <span class="example-spacer"></span>
  <!-- <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->

  <div [hidden]="showProfile" class="bg-zinc-500 h-[40px] w-[40px] ml-9 rounded-full mr-9"></div>
  
  
</mat-toolbar>
