<div class="w-full h-20 bg-zinc-200 rounded-xl mb-3">
    <div class="flex justify-between">
        <div class="left-div">
                <h1 class="pt-3 px-4">Grades</h1>
                <h1 class="px-4 text-xs text-zinc-600">Midterm Exam</h1>             
        </div>
        <div class="right-div pr-3 ">
                 <h1 class="text-green-600 text-lg pt-3 pl-13 leading-tight">A</h1>
                 <p class="text-xs text-zinc-500 leading-tight pr-2">Dec 10, 2024</p>
        </div>
    </div>
        <div class="mt-1 mx-3 flex items-center gap-16">
  <mat-progress-bar class="!w-[80%] !h-4" mode="determinate" value="40"></mat-progress-bar>
  <span class="text-gray-700 text-sm font-bold">40%</span>
</div>

    </div>