        <mat-nav-list class="InnerWrapper">
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>Dashboard</span>
            </a>
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>menu_book</mat-icon>
            <span matListItemTitle>Courses</span>
            </a>
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            <span matListItemTitle>Attendance</span>
            </a>
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>bar_chart_4_bars</mat-icon>
            <span matListItemTitle>Grades</span>
            </a>
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>assignment_turned_in</mat-icon>
            <span matListItemTitle>Assignment</span>
            </a>
            <a class="logout" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>Logout</span>
            </a>
        </mat-nav-list>