        <mat-nav-list class="InnerWrapper">
            <div *ngIf="student | async as student" class="profile">
                    <div class="bg-zinc-900 h-[52px] w-[52px] ml-5 rounded-full"><img class="rounded-full h-full w-full object-cover" [src]='student[0].image' alt="profilePic"></div>
                    <div>
                        <h1 class="ml-2 text-lg">{{student[0].name}}</h1>
                        <h1 class="text-sm ml-3 text-zinc-500">{{student[0].branch}}</h1>
                    </div>
            </div>
            <hr class="border-zinc-300">
            <a class="items mt-5" mat-list-item routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>Dashboard</span>
            </a>
            <a class="items" mat-list-item routerLink="/dashboard/courses" routerLinkActive="active-link">
            <mat-icon matListItemIcon>menu_book</mat-icon>
            <span matListItemTitle>Courses</span>
            </a>
            <a class="items" mat-list-item routerLink="/dashboard/attendance" routerLinkActive="active-link">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            <span matListItemTitle>Attendance</span>
            </a>
            <a class="items" mat-list-item routerLink="/dashboard/grades" routerLinkActive="active-link">
            <mat-icon matListItemIcon>bar_chart_4_bars</mat-icon>
            <span matListItemTitle>Grades</span>
            </a>
            <a class="items" mat-list-item routerLink="/dashboard/assignments" routerLinkActive="active-link">
            <mat-icon matListItemIcon>assignment_turned_in</mat-icon>
            <span matListItemTitle>Assignment</span>
            </a>
            <a class="items" mat-list-item routerLink="/dashboard/announcements" routerLinkActive="active-link">
            <mat-icon matListItemIcon>notifications</mat-icon>
            <span matListItemTitle>Announcements</span>
            </a>
            <a class="logout" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>Logout</span>
            </a>
        </mat-nav-list>