.items{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 210px;
}
.logout{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 210px;
    margin-top: 360px;
}
.profile{
    margin-bottom : 20px;
    display: flex;
}
.InnerWrapper{
    margin-top: 20px;
}