        <mat-nav-list class="InnerWrapper">
            <div class="profile">
                    <div class="bg-zinc-900 h-[60px] w-[60px] ml-9 rounded-full"></div>
                    <div class="">
                        <h1 class="mt-2 ml-2 text-xl">Aayush Chauhan</h1>
                        <h1 class="ml-3 text-zinc-500">Compute Science</h1>
                    </div>
            </div>
            <hr class="border-zinc-300">
            <a class="items mt-5" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>Dashboard</span>
            </a>
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>menu_book</mat-icon>
            <span matListItemTitle>Courses</span>
            </a>
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            <span matListItemTitle>Attendance</span>
            </a>
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>bar_chart_4_bars</mat-icon>
            <span matListItemTitle>Grades</span>
            </a>
            <a class="items" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>assignment_turned_in</mat-icon>
            <span matListItemTitle>Assignment</span>
            </a>
            <a class="logout" mat-list-item routerLink="/">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>Logout</span>
            </a>
        </mat-nav-list>